.chevronUp {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 30px;
	bottom: 30px;
	transition: all 0.3s;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		background: coral;
		border-radius: 50%;
	}

	&:active {
		background: green;
		transform: scale(0.95);
	}

	img {
		width: 45px;
		height: 45px;
	}
}