.slider {
	max-width: 750px;
	min-height: 600px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 15px 0px;

	&__left,
	&__right {
		position: absolute;
		width: 30px;
		height: 50px;
		top: 50%;
		left: -15%;
		transform: translateY(-50%);
		cursor: pointer;

		img {
			transition: all 0.1s linear;

			&:hover {
				transform: scale(1.1);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}

	&__right {
		left: auto;
		right: -15%;
	}

	&__imageWraper {
		width: 100%;
		height: 600px;
		margin-bottom: 35px;
		display: flex;
		align-items: center;

		img {
			width: 100%;
			animation: vision 2s linear;
			user-select: none;
		}
	}

	&__navigation {
		visibility: hidden;
		display: flex;
		max-width: 190px;
		margin: 0 auto;
		margin-top: 5px;
		justify-content: space-between;
		cursor: pointer;

		span {
			width: 30px;
			height: 30px;
			transform: skew(-17deg);
			background: linear-gradient(45deg, rgb(125, 46, 190), rgb(88, 14, 173));
			border-radius: 5px;

			&:hover {
				background: linear-gradient(45deg, rgb(150, 69, 216), rgb(114, 33, 206));
			}

			&:active {
				background: linear-gradient(45deg, rgb(101, 69, 189), rgb(78, 14, 150));

			}

			&.slider__active {
				background: linear-gradient(45deg, rgb(104, 231, 136), green);
			}
		}
	}
}